@model Diplomm.Models.Tables.ReportTable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ReportTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportId" />
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <input asp-for="Employee" class="form-control" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkLesson" class="control-label"></label>
                <select asp-for="fkLesson" class="form-control" asp-items="ViewBag.fkLesson"></select>
                <span asp-validation-for="fkLesson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkGroup" class="control-label"></label>
                <select asp-for="fkGroup" class="form-control" asp-items="ViewBag.fkGroup"></select>
                <span asp-validation-for="fkGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkReplacement" class="control-label"></label>
                <select asp-for="fkReplacement" class="form-control" asp-items="ViewBag.fkReplacement"></select>
                <span asp-validation-for="fkReplacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
