@model Diplomm.Models.Tables.ChangesTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChangesTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChangeId" />
            <div class="form-group">
                <label asp-for="DateChange" class="control-label"></label>
                <input asp-for="DateChange" class="form-control" />
                <span asp-validation-for="DateChange" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cancel" /> @Html.DisplayNameFor(model => model.Cancel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Replacement" /> @Html.DisplayNameFor(model => model.Replacement)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fkTimetable" class="control-label"></label>
                <select asp-for="fkTimetable" class="form-control" asp-items="ViewBag.fkTimetable"></select>
                <span asp-validation-for="fkTimetable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkEmployee" class="control-label"></label>
                <select asp-for="fkEmployee" class="form-control" asp-items="ViewBag.fkEmployee"></select>
                <span asp-validation-for="fkEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
